.image{
    width: 200px;
   position: relative;
   margin: 0 auto;
   padding: 10px;
   
}
.quantity{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 10px auto;
    background: rgb(219, 219, 219);
    width: 120px;
    border-radius: 10px;
    /* position: absolute;
    bottom: 0;
    left: 50px; */
}
.quantity
>input{
    background-color:black;
    color: white;
    width: 50px;
    
}

.add{
    cursor: pointer !important;
}
.remove{
    cursor: pointer !important;
}

.container{
    background:transparent;
    width: 800px;
  
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
   
   padding: 20px;
   gap: 30px;
   /* position:relative; */
}

.close{
    position:absolute !important;
    top: 10px !important;
    right: 10px !important;    
}

.price{
    font-weight: 500;
    font-size: 1.1rem;
    position:absolute;
    right: 50px;
}

.name{
    width: 70%;
}

.first{
   
    display: flex;
    justify-content:space-between;
    /* align-items:center; */
}

.dropDown{
    width: 50px;
    
}
.vertical{
    height: 20px;
    width: 1px;
    background-color:grey;
}
.qtyBox{
    display: flex;
    gap: 30px;
    align-items:center;
    margin-top: 20px;

}
.delete{
    margin-left: -10px;
    color: darkcyan;
    font-weight: 500;
    cursor: pointer;
}

.delete:hover{
    border-bottom: 1px solid darkcyan;
    width: auto;
}
