.container{
    border: 5px solid orange;
    width: 50%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 1px 1px 2px orange;
    background:white;
    
}

.container>h1{
    width: 100%;
    text-align: center;
    margin: auto;
}

.tick{
    color: green !important;
    font-size: 5rem !important;
    text-align: center !important;
    width: 100% !important;
    margin-top: 20px !important;
   transition: color 2s ease-in-out !important;
}

.loader{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100px !important;
    
}